@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: tesla;
    src: url(TESLA.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.menu,.mark{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
}
li{
    list-style-type: none;
}

nav,.navlinks ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.navlinks{
    display: flex;
    width: 100%;
    margin-left: 12rem;
    gap: 150px;
}

nav{
    position: fixed;
    top: 10px;
    z-index: 100;
}

.navlinks ul:first-child{
    margin: 0 auto;
}

ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}

.navlinks li{
    margin-left: 1.5em;
}

.navbar{
    padding: 0.6em 1.5em 0.3em 1.5em;
    background: transparent;
}

.textlogo h2{
    font-family: tesla;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.8em;
}

.content .heading,.content .para-content,.buttons{
    display: flex;
    justify-content: center;
}
.content .heading{
    margin-top: 2.8em;
    font-size: 1em;
}

.content .para-content{
    font-size: 0.9em;
    margin-top: 0.5em;
}

.buttons{
    height: 70vh;
    align-items: flex-end;
    margin-top: -3.7em;
    gap: 1.2em;
}

.buttons button{
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    width: 240px;
    border-radius: 0.4rem;
    text-transform: uppercase;
    padding: 0.5rem;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover{
    scale: 0.9;
}

.buttons button:first-child{
    background-color: black;
    color: white;
}

.buttons button:last-child{
    background-color: rgb(70, 70, 70);
    color: white;
}

.img{
    height: 100vh;
}

.one{
    background:url(IMAGES/Model3_86.jpg);
}
.two{
    background:url(IMAGES/ModelY_88.jpg);
}

.three{
    background: url(IMAGES/Model3_82.jpg);
}

.four{
    background: url(IMAGES/0x0-ModelX_09.jpg);
}

.five{
    background: url(IMAGES/SolarPanels_90.jpg);
}

.six{
    background: url(IMAGES/SolarPanels_92.jpg);
}

.seven{
    background: url(IMAGES/0x0-Charging_22.jpg);
}

.img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.seven{
    background-position: top;
}

@media screen and (max-width : 600px) {

    .navlinks,.navlinks ul{
        flex-direction: column;
    }

    nav{
        position: static;
    }

    .navlinks{
        height: 100vh;
        background-color: white;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -350px;
        width: 35vw;
        gap: 0;
        scroll-behavior: smooth;
        transition: all 1s;
        z-index: 100;

    }

    .navlinks ul:first-child{
        margin-top: 2rem;
    }

    .navlinks ul{
        font-size: 1.3rem;
        align-items: flex-start;
    }

    .navlinks ul li{
        margin-top: 1.2rem;
    }

    .textlogo{
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-left: 4rem;
    }

    .buttons{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu,.mark{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-top: 0.4rem;
        transition: all 0.5s;
    }

    .menu{
        position: fixed;
        right: 25px;
    }

    .mark{
         align-self: flex-end;
         margin-right: 2rem;
         cursor: pointer;
    }

    .side{
        right: 0;
    }
}